################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
myplan
terraform.*
.terraform/
private_key.pem
.terraform.tfstate.lock
.terraform.tfstate.lock.info
