################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/01-Infrastructure-Provisioning/terraform.exe
/01-Infrastructure-Provisioning/.terraform/plugins/windows_amd64
