################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/01-Infrastructure-Provisioning/.terraform/
/01-Infrastructure-Provisioning/terraform.*
/01-Infrastructure-Provisioning/myplan
/01-Infrastructure-Provisioning/terraform-v2/terraform.*
/01-Infrastructure-Provisioning/terraform-v2/.terraform/
/01-Infrastructure-Provisioning/terraform-v2/private_key.pem

